# Node backend
Back/node_modules/
Back/package-lock.json
front/package-lock.json

# Ambiente (caso use)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.swp
